!!!
%html.no-js{:class=>(yield :html_classes).blank? ? nil : (yield :html_classes), :lang=>'ru-RU'}
  %head
    %meta{:charset=>'UTF-8'}
    %title= (yield :title).blank? ? CONFIG[:name] : (yield :title)

    %meta{'http-equiv'=>'X-UA-Compatible', :content=>'IE=edge,chrome=1'}   
    %meta{:name=>'description', :content=>CONFIG[:description]}
    %meta{:name=>'author', :content=>CONFIG[:name]}

    %meta{:name=>'HandheldFriendly', :content=>'True'}
    %meta{:name=>'MobileOptimized', :content=>'960'}
    %meta{:name=>'viewport', :content=>'width=960, initial-scale=0.75, maximum-scale=1, minimum-scale=0.75'}
    %meta{:name=>'format-detection', :content=>'telephone=no'}
    %meta{'http-equiv'=>'cleartype', :content=>'on'}

    %link{:rel=>'apple-touch-icon-precomposed', :sizes=> '114x114', :href=> image_path('apple-touch-icon-114.png')}
    %link{:rel=>'apple-touch-icon-precomposed', :sizes=> '72x72', :href=> image_path('apple-touch-icon-72.png')}
    %link{:rel=>'apple-touch-icon-precomposed', :href=> image_path('apple-touch-icon.png')}
    %link{:rel=>'apple-touch-icon', :href=> image_path('apple-touch-icon.png')}

    %link{:rel=>'apple-touch-startup-image', :sizes=> '320x460', :href=> image_path('splash-460.png')}
    %link{:rel=>'apple-touch-startup-image', :sizes=> '640x920', :href=> image_path('splash-920.png')}
    %link{:rel=>'apple-touch-startup-image', :sizes=> '640x1136', :href=> image_path('splash-1136.png')}

    = csrf_meta_tags
    = stylesheet_link_tag 'application', :media => 'all'

  %body
    .l-wrapper
      = render :partial => 'layouts/header'
      = yield
      .l-footer-pusher
    = render :partial => 'layouts/footer'

    -#
      :javascript
        app = {};
      = javascript_include_tag 'application'
